// import google font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Reset styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1.15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

video {
    width: 100%;
    aspect-ratio: 16/9
}

button {
    background: none;
    border: none;
}

input {
    border: 0;
    background: 0;
}

.iconify {
    color: $white;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

// Base styles
body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: relative;
    height: 100%;
}

.overflow-hidden{
    overflow: hidden;
}

.containerModal {
    pointer-events: none;
    animation: modalOut 1s backwards;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    z-index: 3;
    background-color: rgb(0, 0, 0);

}

.modal {
    z-index: 3;
    animation: modalIn 1s forwards;
    background-color: rgb(0, 0, 0);

}

@keyframes modalIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes modalOut {
    

    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

.containerTitle {

    .recentTitle {
        margin-left: 24px;
    }
}

@media (min-width: 800px) {
    .containerTitle {
        position: relative;

        .position-circle-plus {
            position: absolute;
            top: -20px;
            right: 24px;
        }
    }
}

/****header and nav****/
header {
    .nav-title {
        font-size: clamp(1rem, -0.4545rem + 7.2727vw, 1.25rem);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.totalBalance,
.income,
.expense {
    position: relative;
    height: 120px;

    p {
        font-size: clamp(0.5rem, -0.2273rem + 3.6364vw, 0.625rem);
        line-height: 4;
    }

    h3 {
        font-size: clamp(1rem, -0.4545rem + 7.2727vw, 1.25rem);
    }

    .info {
        position: absolute;
        bottom: 20px;
        left: 20px;

        h3 {
            font-weight: 500;
        }
    }
}

.totalBalance {
    .tB-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {
            font-weight: 500;
        }
    }
}

.income-transaction,
.expense-transaction {
    height: 100px;
    display: flex;
    align-items: center;

    .t-icon {
        min-width: 75px;
        min-height: 75px;
        margin: $base-margin * 1.50;
        position: relative;
        pointer-events: none;

        .iconify {
            width: clamp(1.125rem, -1.0568rem + 10.9091vw, 1.5rem);
            height: clamp(1.125rem, -1.0568rem + 10.9091vw, 1.5rem);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
    }

    .transaction-info {
        width: auto;
        margin: $base-margin * 1.50;
        margin-left: 0;

        display: flex;
        justify-content: space-between;
        pointer-events: none;

        .transaction-title {
            .t-title {
                font-size: $base-font-size;
                font-weight: 500;
            }
        }

        .t-value {
            font-size: $base-font-size;
            font-weight: 500;
            text-align: end;
        }

        .t-tag {
            font-size: $font-size-sm;
            font-weight: 400;
            letter-spacing: 1.5px;
        }

        .t-date {
            font-size: $font-size-xsm;
            font-weight: 400;
            letter-spacing: 1.5px;
            text-align: end;
            align-self: center;
        }
    }

}