// color theme
$primary: #121212;
$secondary: #1a191e;
$tertiary: #2e2d31;
$red: #EB5757 ;
$green: #6FCF97;
$blue: #4b99ff;
$darkblue: #006af6;
$white: #FFFFFF;
$dark: #000000;
$dark-gray: #bdbdbd;
$light-gray: #f9f9f9;

// color palette
$colors: (
    "primary": #121212,
    "secondary": #1a191e,
    "tertiary": #2e2d31,
    "red": #EB5757,
    "green": #6FCF97,
    "blue": #4b99ff,
    "darkblue": #006af6,
    "white": #FFFFFF,
    "dark": #000000,
    "gray": #bdbdbd,
    "light-gray": #f9f9f9
);

// margin
$base-margin: 0.50rem;

// padding
$base-padding: 0.50rem;

// border
$base-border-thickness: 1px;
$base-border-radius: 4px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;