@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1.15px;
}

button {
  background: none;
  border: none;
}

input {
  border: 0;
  background: 0;
}

.iconify {
  color: #FFFFFF;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

/****header and nav****/
header .nav-title {
  font-size: clamp(1rem, -0.4545rem + 7.2727vw, 1.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.totalBalance,
.income,
.expense {
  position: relative;
  height: 120px;
}
.totalBalance p,
.income p,
.expense p {
  font-size: clamp(0.5rem, -0.2273rem + 3.6364vw, 0.625rem);
  line-height: 4;
}
.totalBalance h3,
.income h3,
.expense h3 {
  font-size: clamp(1rem, -0.4545rem + 7.2727vw, 1.25rem);
}
.totalBalance .info,
.income .info,
.expense .info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.totalBalance .info h3,
.income .info h3,
.expense .info h3 {
  font-weight: 500;
}

.totalBalance .tB-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.totalBalance .tB-info h3 {
  font-weight: 500;
}

.income-transaction {
  height: 100px;
  display: flex;
  align-items: center;
}
.income-transaction .t-icon {
  min-width: 75px;
  min-height: 75px;
  margin: 0.75rem;
  position: relative;
}
.income-transaction .t-icon .iconify {
  width: clamp(1.125rem, -1.0568rem + 10.9091vw, 1.5rem);
  height: clamp(1.125rem, -1.0568rem + 10.9091vw, 1.5rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.income-transaction .transaction-info {
  width: auto;
  margin: 0.75rem;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}
.income-transaction .transaction-info .transaction-title .t-title {
  font-size: 1rem;
  font-weight: 500;
}
.income-transaction .transaction-info .t-value {
  font-size: 1rem;
  font-weight: 500;
  text-align: end;
}
.income-transaction .transaction-info .t-tag {
  font-size: clamp(0.625rem, -0.1023rem + 3.6364vw, 0.75rem);
  font-weight: 400;
  letter-spacing: 1.5px;
}
.income-transaction .transaction-info .t-date {
  font-size: clamp(0.5rem, -0.2273rem + 3.6364vw, 0.625rem);
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: end;
  align-self: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {
  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 1;
    width: 41.6666666667%;
  }
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
  }
}

.bg-primary {
  background-color: #121212;
}

.bg-secondary {
  background-color: #1a191e;
}

.bg-hover-secondary:hover {
  background-color: #1f1e24;
  cursor: pointer;
}

.bg-tertiary {
  background-color: #2e2d31;
}

.text-red {
  color: #EB5757;
}

.text-green {
  color: #6FCF97;
}

.bg-hover-blue:hover {
  background-color: #559fff;
  cursor: pointer;
}

.text-white {
  color: #FFFFFF;
}

.text-gray {
  color: #bdbdbd;
}

.text-hover-gray:hover {
  color: #bdbdbd;
  cursor: pointer;
}

.text-gray-2 {
  color: #E0E0E0;
}

.text-gray-3 {
  color: #f2f2f2;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #4b99ff;
}
.btn-blue:hover {
  background-color: #65a7ff;
}

.circle-plus-blue {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #4b99ff;
  cursor: pointer;
  z-index: 2;
}
.circle-plus-blue:hover {
  background-color: #65a7ff;
}
.circle-plus-blue:after {
  content: "";
  background-color: #FFFFFF;
  width: 2px;
  height: 20px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-plus-blue:before {
  content: "";
  background-color: #FFFFFF;
  width: 2px;
  height: 20px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.navbar .container, .navbar-secondary .container, .navbar, .navbar-secondary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-secondary {
  padding: 0.5rem 1rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar-secondary {
  background-color: #1a191e;
}

.green-circle-arrow-down, .red-circle-arrow-up {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}

.chevron-left, .chevron-down {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: none;
  position: relative;
  cursor: pointer;
}

.icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.red-circle-arrow-up {
  background-color: rgba(235, 87, 87, 0.1019607843);
}
.red-circle-arrow-up:after {
  content: "";
  height: 10px;
  width: 10px;
  border-top: 2px solid #EB5757;
  border-right: 2px solid #EB5757;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.red-circle-arrow-up:before {
  content: "";
  height: 13px;
  width: 2px;
  border-right: 2px solid #EB5757;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.green-circle-arrow-down {
  background-color: rgba(111, 207, 151, 0.1019607843);
}
.green-circle-arrow-down:after {
  content: "";
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #6FCF97;
  border-left: 2px solid #6FCF97;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.green-circle-arrow-down:before {
  content: "";
  height: 13px;
  width: 2px;
  border-right: 2px solid #6FCF97;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.position-circle-plus {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: none;
  border: none;
  border-radius: 50%;
}

.chevron-down:after {
  content: "";
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.chevron-left:after {
  content: "";
  height: 10px;
  width: 10px;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.myForm {
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translateX(-100%);
}
.myForm .myForm-nav {
  justify-content: center;
}
.myForm .myForm-nav span {
  margin-right: auto;
}
.myForm .myForm-nav h3 {
  font-size: clamp(1rem, -0.4545rem + 7.2727vw, 1.25rem);
  font-weight: 500;
}
.myForm .myForm-body {
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}
.myForm .myForm-body input {
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  margin-bottom: 40px;
  border-radius: 8px 8px 0px 0px;
  background-color: #1a191e;
  border-bottom: 1.5px solid #bdbdbd;
  max-height: 60px;
  outline: none;
  color: #E0E0E0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.15px;
}
.myForm .myForm-body input::placeholder {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.15px;
  color: #828282;
}
.myForm .myForm-body button {
  padding: 17px 0 17px 0;
  font-size: 14px;
  letter-spacing: 1.25px;
  max-height: 50px;
}
.myForm .myForm-body .custom-date {
  position: relative;
}
.myForm .myForm-body .custom-date .myForm-date {
  padding-top: 29px;
  padding-bottom: 29px;
  width: 100%;
  color: #828282;
}
.myForm .myForm-body .custom-date .myForm-date::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.myForm .myForm-body .custom-date .iconify {
  position: absolute;
  top: 20%;
  right: 10px;
  z-index: 5;
}
.myForm .myForm-body .custom-date .block {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15%;
  right: 2px;
}

.custom-select {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.custom-select select {
  background-color: #1a191e;
  width: 100%;
  color: #828282;
  font-size: 1rem;
  padding: 1.25rem 3.25rem 1.25rem 1.25rem;
  border-radius: 8px 8px 0 0;
  border: 0;
  border-bottom: 1.5px solid #bdbdbd;
  appearance: none;
  outline: none;
  overflow: hidden;
}
.custom-select select option {
  outline: none;
  border: 0;
}
.custom-select .custom-arrow {
  width: 50px;
  height: 58.5px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  background: none;
  border-radius: 8px 8px 0 0;
  border: 0;
  pointer-events: none;
}
.custom-select .custom-arrow .chevron-down {
  top: 50%;
  left: 60%;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  1% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.details {
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  opacity: 1;
}
.details .details-nav {
  justify-content: center;
}
.details .details-nav h3 {
  font-size: clamp(1rem, -0.4545rem + 7.2727vw, 1.25rem);
  font-weight: 500;
}
.details .details-body {
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  top: 80px;
  left: 0;
  bottom: -80px;
  right: 0;
  display: flex;
  flex-flow: column;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.pl-3 {
  padding-left: 2rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.m-2 {
  margin: 1rem;
}

.ml-1 {
  margin-left: clamp(0.3rem, -0.8636rem + 5.8182vw, 0.5rem);
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-auto {
  margin-right: auto;
}

.mt-3 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.display-f {
  display: flex;
}

.rounded {
  border-radius: 4px;
}
