%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar {
    @extend %flex-layout;
    padding: $base-padding $base-padding *2;

    .site-navbar {
        font-size: $font-size-lg;
    }

    .container {
        @extend %flex-layout;
    }
}

@each $key,
$value in $colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: $value;
    }
}