name: Build and Deploy
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    concurrency: ci-${{github.ref}}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Configure Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.16.0'
      
      - name: Install
        run: i
          npm ci
          npm run build
          
      - name: Deploy
        uses: JamesIves/github-pages-deploy-actions@v4
        with:
          folder: public
          branch: gh-pages
